{{#each list_items as |list_item|}}



<tr data-id="{{list_item.id}}">
    <td class="col-sm-10">{{list_item.item_description}}</td>
    <td class="col-xs-3">
      <button type="button" data-toggle="modal" data-target="#editItemModal" data-id="{{list_item.id}}" class="btn btn-primary edit-button">Edit</button>
    </td>
      <td class="col-xs-3">
        <button type="button" class="delete-item ibtnDel btn btn-md btn-danger" data-id="{{list_item.id}}">Delete</button>
      </td>

      <br>
</tr>
{{/each}}
