$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$align-content: center;
$height: 80px;
$margin: 30px;

// body {
//   background-color: #cdbfcb;
//   text-align: center;
// }
//
// .logout {
//   display: inline-block;
// }
//
// .status {
//   color: #615296;
//   font-size: 30px;
// }
//
// h1 {
//   font-family: 'bookman';
//   font-size: 45px;
// }
//
// .auth-form {
//   display: inline-block;
//   margin: 40px;
// }
