
/*$black: #000;
$align-content: center;
$height: 80px;
$margin: 30px;*/

#heading {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100px;
  font-weight: bold;
}

body {
  text-align: center;
  background: url(https://i.imgur.com/4fZ4erC.jpg?1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.auth-form {
  text-align: left;
  margin-left: 85%;
}

legend {
  font-family: 'Caveat', cursive;
  font-size: 38px;
  font-weight: bold;
}

#status-message {
  font-family: 'Caveat', cursive;
  font-size: 38px;
  font-weight: bold;
}

#bucket-header {
  font-family: 'Shadows Into Light', cursive;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px #b1ecef;
}

.description {
  margin: auto;
}

.saved-description {
  background-color: rgba(143, 129, 114, .70);
  font-family: 'Caveat', cursive;
  font-size: 27px;
  font-weight: bold;
  text-align:left;
  align-content: center;
}

.add-item-button {
  background-color: rgba(204, 184, 209, .90);
}

.primary-button {
margin: 5px;
background-color: #B2E3E8;
}

.delete-button {
background-color: #452B29;
color: #ffffff;
}

.nav-bar {
  background-color: #8F8172;
}

.glyphicon, .nav-link {
    color: #E6E2DF
}

td {
  border: 3px solid rgba(143, 129, 114, 0);
}

.edit-modal-text-field {
width: 575px;
height: 45px;
}
.modal-body {
  background-color: #E6E2DF;
}
.modal-header {
background-color: #8F8172
}
.text-box {
  background-color: rgba(224, 229, 229, .70);
}
#item_description {
  background-color: rgba(224, 229, 229, .90);
}
